.container {
    margin: 50px 0;
    
}

.card {
    margin: 5% 0;

}


.infected {
  
    border-left: 5px solid #00c3ff;
    border-radius: 0;
  
}

.recovered{
    border-left: 5px solid #07800d;
    border-radius: 0;
}

.deaths {
    border-left: 5px solid #000000;
    border-radius: 0;
  
}

.percentageRecovered {
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    margin-left: 2%;
}

.percentageDeaths {
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    margin-left: 2%; 
}