@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");


body {
  margin: 0;

}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 0;
 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background: #faf8f8;
    margin-top: 2%;

}

.footer {
     text-align: center;
}

/* @media (max-width: 770px) {

.navbarHeading {
font-size: 0.5em;
} */

@media screen and (max-width:770px){ 
 h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 0;
 
}

}