@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");


body {
  margin: 0;

}

h1, h2, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background: #f1eeee;
}

.footer {
     text-align: center;
}